.promo
  display: grid
  text-align: center
  align-content: center
  height: 100vh
  background-color: #212121
  background-image: url('/img/promo.jpg')
  background-position: center
  background-size: cover
  color: #ffffff
  overflow: hidden
  &__title
    margin-bottom: 15px
    font-family: "Nexa Script"
    font-size: 8vh
  &__subtitle
    margin: 0 0 40px 0
    text-transform: uppercase
    font-weight: 600
  &__icon
    position: relative
    display: grid
    grid-template-columns: repeat(3, auto)
    column-gap: 20px
    justify-content: center
    justify-items: center
    margin-bottom: 80px
    &:before
      content: ""
      transform: scaleX(-1) rotate(90deg)
      background-image: url("/img/arrow.svg")
      background-position: center
      background-size: 95%
      width: 50px
      height: 100%
    &:after
      content: ""
      transform: rotate(90deg)
      background-image: url("/img/arrow.svg")
      background-position: center
      background-size: 95%  
      width: 50px
      height: 100%
     